<!DOCTYPE html>
<html>
  <head>
    <title>Bss</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo:400,500,600,700&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application'%>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
